<h1>Welcome to Volunteers Center</h1>

<p><a href="/volunteers">View All volunteers</a></p>
<p><a href="/volunteers/new">Apply for Volunteers</a></p>
<p><a href="/volunteers">View All projects</a></p>
<p><a href="/volunteers/new">Add New Project</a></p>
