<div class="container">

  <p><a href="/volunteers">View All volunteers</a></p>
  <p><a href="/volunteers/new">Add New Volunteer</a></p>
  <p><a href="/projects">View All projects</a></p>
  <p><a href="/projects/new">Add New Project</a></p>
</div>
