<div class="container">

  <p><a href="/volunteers" role="buttom" class="btn btn-secondary btn-lg">View All volunteers</a></p>
  <p><a href="/volunteers/new" role="buttom" class="btn btn-primary ">Add New Volunteer</a></p>
  <p><a href="/projects" role="buttom" class="btn btn-secondary btn-lg">View All projects</a></p>
  <p><a href="/projects/new" role="buttom" class="btn btn-primary">Add New Project</a></p>
</div>
