<div class="container">
  <h2> Add Project </h2>

  <form action="/projects" method="post">
    <div class="form-group">
      <label for="description">Description: </label>
      <input id="description" name="description" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <p><a href="/">Home</a></p>
  <p><a href="/volunteers">View projects</a></p>
</div>
