<div class="container">
  <p><a href="/">Home page</a></p>
  <p><a href='/projects/new'>Add More Project</a></p>
  <% if @projects.any?() %>
      <h4>All Projects: </h4>
      <ul>
      <% @projects.each() do |project| %>
        <li><a href="/projects/<%= project.id() %>"><%= project.description() %></a></li>
      <% end %>
      </ul>

  <% else %>
      <h2>No projects added yet!</h2>
  <% end %>
</div>
