
<div class="container">
  <h2> Add Volunteer </h2>

  <form action="/volunteers" method="post">
  <input id="project_id" name="project_id" type="hidden" value="1">
    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name" name="name" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <p><a href="/">Home</a></p>
  <p><a href="/volunteers">View All volunteers</a></p>
</div>
