
<div class="container">
  <h2> Add Volunteer </h2>

  <form action="/volunteers" method="post">

    <% if @projects.any?()  %>
      <div class="form-group">
        <label for="project_id">Select a Project</label>
        <select id='project_id' name='project_id' type='text'>
        <% @projects.each() do |project| %>
          <option value="<%= project.id()%>"> <%= project.description() %> </option>
        <% end %>
          <option value="0"> No project </option>
        </select>
      </div>
    <% else  %>
        <p>No Project added yet!</p>
    <% end  %>

    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name" name="name" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <p><a href="/">Home</a></p>
  <p><a href="/volunteers">View All volunteers</a></p>
</div>
